/*project1.css*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #cbcbcf;
    color: #333;
  }
  
  header img{
    background: (img);
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: relative;
  }
  
  nav {
    background: #073d74;
    padding: 0.5em 0;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #ffc107;
  }
  
  .intro-image {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    opacity: 0.8; /* Adjust transparency */
  }
  
  h1 {
    margin: 10px 0 0;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  img{ width: 100% ; display: block;}
.logo{
    width: auto;
    margin: 1em auto;
    box-shadow: 1px, 1px, 5px;
    position: relative;
    .transparent-image
}
  .transparent-image {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    opacity: 0.8; /* Adjust transparency */
  }
  .imgtitle{
    background-attachment: fixed;
    position: absolute;
    top: 10%;
    bottom: 40%;
    left: 20%;
    right: 20%;
    text-align: left;
    font-size: 2em;
    padding: 0em;
    text-shadow: 1em #8b4cb8;
    text-decoration: cornflowerblue;
  }
  footer {
    text-align: center;
    padding: 1em 0;
    background: #6c757d;
    color: #fff;
  }
  