/* webpage.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.product {
    border: 1px solid #ddd;
    padding: 1em;
    text-align: center;
    width: 30%;
    margin-bottom: 2em;
    transition: transform 0.2s, box-shadow 0.2s;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 60%;
    height: auto;
    object-fit: cover;
    align-items: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.div {
    align-items: center;

}